/*========================================
				Global Css 
========================================*/
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  overflow-x: hidden;
  font-family: var(--primary-fonts);
  color: #fff;
  background-color: var(--global-bg);
}
img {
  height: 100%;
  width: 100%;
}
/* color */
:root {
  --Primary_900: #e87800;
  --Secondary_800: #360e6e;
  --global-bg: #0f0613;
  --primary-fonts: "Poppins", sans-serif;
  --secondary-fonts: "Roboto", sans-serif;
}

ul,
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* custom margin padding */
.mb-24 {
  margin-bottom: 24px;
}
.btn {
  color: #fff;
  border-radius: 25px;
}
.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.mb-20 {
  margin-bottom: 20px;
}
.form-control {
  border-radius: 8px;
}
.pb-20 {
  padding-bottom: 20px;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input::-webkit-input-placeholder {
  color: #667085;
}
input::-moz-placeholder {
  color: #667085;
}
input:-ms-input-placeholder {
  color: #667085;
}
input::-ms-input-placeholder {
  color: #667085;
}
input::placeholder {
  color: #667085;
}

/*========================================
				Header Style 
========================================*/
/* GLOBAL CSS HERE */
.setion_padding {
  padding: 70px 0;
}
.sectionTitle {
  text-align: center;
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 0.1em;
  line-height: 51px;
  text-align: center;
  color: #fff;
  padding-bottom: 100px;
}
.sectionTitle::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-size: 140px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #43294b11;
  content: "TAGMOON";
  font-weight: 900;
  z-index: -1;
  font-family: var(--secondary-fonts);
}
.section_pragrap {
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  color: #a585b0;
}
.secondary-btn {
  padding: 10px 20px;
  border-radius: 25px;
  background: transparent;
  border: 3px solid #e87800;
  box-shadow: 2px 3px 10px rgba(232, 120, 0, 0.38);
  font-weight: 500;
  color: #fff;
}
.secondary-btn:hover {
  box-shadow: none;
  color: #fff;
}
.subSection_title {
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 0.1em;
  line-height: 60px;
  text-align: center;
  color: #fff;
}
.btn_primary {
  padding: 10px 20px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 25px;
  background: var(--Primary_900);
  color: #fff;
  display: inline-block;
}
/* HEADER AREA */
.header_menu {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
  align-items: center;
}
.menu li a {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.logo {
  width: 255px;
  height: auto;
}
/* MOBILE MENU */
/*======== Mobile Menu ========*/
.all-p-humber {
  width: 30px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 99;
  cursor: pointer;
}
.all-p-humber span {
  display: block;
  position: absolute;
  height: 3px;
  width: 25px;
  background: var(--Primary_900);
  border-radius: 9px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.all-p-humber span:nth-child(2),
.all-p-humber span:nth-child(3) {
  width: 18px;
  left: 7px;
}
.all-p-humber.open span:nth-child(2),
.all-p-humber.open span:nth-child(3) {
  width: 25px;
  left: 0px;
}
.all-p-humber span:nth-child(2),
.all-p-humber span:nth-child(3) {
  top: 8px;
}
.all-p-humber span:nth-child(2),
.all-p-humber span:nth-child(3) {
  top: 8px;
}
.all-p-humber span:nth-child(4) {
  top: 16px;
}
.all-p-humber.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.all-p-humber.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.all-p-humber.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.all-p-humber.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
/* HERO AREA */
.hero_area {
  padding-top: 50px;
  transform: translateY(2px);
  position: relative;
  z-index: 1;
}
.header_shape_dots {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: -30px;
  left: 0;
  right: 0;
}
.hero_subtitle {
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.05em;
  line-height: 35px;
  color: #ceb3d6;
}
.hero_title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 52px;
  letter-spacing: 0.05em;
  color: #fff;
}
.hero_title span {
  color: var(--Primary_900);
  text-transform: uppercase;
}
.hero_pragrap {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.05em;
  line-height: 30px;
  color: #fff;
  padding: 20px 0;
}
.hero_subPragrap {
  font-family: Poppins;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.05em;
  line-height: 30px;
  color: #d1abdd;
  max-width: 460px;
  width: 100%;
}
.hero_shape {
  transform: scale(1.5);
}
/* SUPPLY AREA */
.supply_area {
  position: relative;
  z-index: 1;
}
.supply {
  position: absolute;
  left: 0;
  top: calc(50% - 20px);
  width: 100%;
}
.supplyTitle {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 30px;
  color: #fff;
}
.supplyText {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.05em;
  line-height: 30px;
  color: #a585b0;
}
/* ABOUT AREA */
.about_area {
  background-color: #0f0613;
  margin-bottom: -120px;
  position: relative;
  z-index: 111;
}
.about_dots_shape {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.about_tabs {
  padding-top: 20px;
  padding: 30px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.single_about_tab {
  padding: 10px;
  border-radius: 10px;
  display: block;
  background: #3f1e4b;
  transition: 0.3s all ease-in-out;
}
.single_about_tab span {
  border: 1px dotted #e87800;
  border-radius: 10px;
  display: block;
  padding: 25px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 24px;
  text-align: center;
  color: #fff;
  background: #31103d;
}
.single_about_tab.active {
  transform: scale(1.2);
  background: #2a1133;
}
.single_about_tab.active span {
  background: #220b2b;
}
.about_text {
  text-align: right;
}
.about_shape {
  position: relative;
  z-index: 1;
}
.about_tagmoon_shape {
  position: absolute;
  content: "";
  left: -150px;
  top: -20px;
  height: 700px;
  width: 750px;
  z-index: -1;
  opacity: 0.4;
}
/* PROTOCOL AREA */
.protocol_single_item {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.protocol_single_item img {
  height: 90px;
  width: auto;
  margin-bottom: 20px;
}
.protocol-title {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.05em;
  line-height: 30px;
  padding-bottom: 20px;
  text-align: center;
  color: var(--Primary_900);
}
.protocol_pragrap {
  color: #a585b0;
}
/* TOKEN AREA */
#tokenomics {
  position: relative;
  z-index: 1;
}
#tokenomics::before {
  position: absolute;
  content: "";
  z-index: -1;
  background-image: url("../image/tokenomis.png");
  width: 100%;
  top: 0px;
  height: 100%;
  opacity: 0.2;
  right: 0;
}
.token_header .sectionTitle::before {
  content: "TOKENOMICS";
}
.token_centerBox {
  background: #2a11333f;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}
.token_box {
  border: 1px dotted #e87800;
  border-radius: 10px;

  text-align: center;
  padding: 20px;
}
.token_box h3 {
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 15px;
}
.token_box a {
  display: block;
  color: var(--Primary_900);
}
.token_supply {
  display: flex;
  justify-content: space-between;
}
.token_supply_single p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
}
.token_supply_single h3 {
  color: #a585b0;
  font-size: 22px;
}
.token_main_single {
  border-radius: 10px;
  background: linear-gradient(#2a113360 0%, #480a5f8c 100%);
  padding: 10px;
}
.left_tk_card {
  border: 1px solid #a585b01f;
  border-radius: 10px;
  padding: 20px;
}
.tk_main_single:not(:nth-child(3)) {
  padding-bottom: 30px;
}
.tk_main_single h3 {
  font-size: 18px;
  padding-top: 10px;
  font-weight: 600;
  line-height: 26px;
}
.tk_main_single h3 span {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  display: inline-block;
}
.tk_main_single span {
  color: #a585b0;
  display: block;
}
.tk_main_single_list ul {
  padding-top: 10px;
}
.tk_main_single_list ul li:not(:nth-child(3)) {
  padding-bottom: 20px;
}
.tokenGraph {
  width: 220px;
  margin: 0 auto;
  text-align: center;
}
.check_area {
  width: 270px;
  margin: 0 auto;
}
/* CUSTOME CHECK */
/* The container */
.contaiBox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Poppins;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #fff;
}

/* Hide the browser's default checkbox */
.contaiBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkMark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #250e2d;
  border: 1px solid var(--Primary_900);
  border-radius: 5px;
}
.cb_i_2 {
  background-color: #3c1849;
}
.cb_i_3 {
  background-color: #5a3565;
}
.cb_i_4 {
  background-color: #a585b0;
}
/* On mouse-over, add a grey background color */
.contaiBox:hover input ~ .checkMark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.contaiBox input:checked ~ .checkMark {
  background-color: var(--Primary_900);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkMark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.contaiBox input:checked ~ .checkMark:after {
  display: block;
}

/* Style the checkmark/indicator */
.contaiBox .checkMark:after {
  left: 9px;
  top: 3px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* CUSTOME CHECK */
/* ROAD MAP AREA */
.roadMap_header .sectionTitle::before {
  content: "ROADMAP";
}
/* COMUNITY AREA */
.community_pa {
  position: relative;
  z-index: 1;
  background-color: #0f0613;
}
.community_pa::before {
  position: absolute;
  content: "";
  background-image: url("../image/comunity/comunity-shape.png");
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
}
.comunity_header .sectionTitle::before {
  content: "COMMUNITY";
}
.community_single {
  background-image: url("../image/comunity/comunity.png");
  background-position: top;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
}
.community_single img {
  height: 50px;
  width: 50px;
}
.community_single a {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: -0.03em;
  line-height: 30px;
  text-align: center;
  color: #e87800;
  display: block;
  transform: translateY(40px);
}
.cm_single_text {
  padding: 70px 10px;
  padding-bottom: 180px;
}
/* BRAND ITEMS */
.single_brand {
  text-align: center;
}
.brandTitle {
  font-weight: 300;
  font-size: 17px;
  letter-spacing: -0.03em;
  line-height: 30px;
  text-align: center;
  padding-bottom: 10px;
  color: #d6bae0;
}
.single_brand img {
  height: 60px;
  width: auto;
  margin-top: 10px;
}
/* ROADMAP */
.roadmap {
  position: relative;
  z-index: 1;
}
.roadmap_body_mobile {
  display: none;
}
.r-m-s-mobile {
  display: none;
}
.roadmap_body {
  padding: 200px 0;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
}
.roadmap_contetn {
  position: relative;
}
.road_shape_after h3 {
  font-size: 24px;
  line-height: 30px;
  color: #e87800;
  padding-bottom: 10px;
}
.road_shape_after p {
  font-size: 16px;
  color: #dcc2e6;
}
/* Road shape item */
.road_single_shape_text {
  position: relative;
}
.rd_s_s_3,
.rd_s_s_1 {
  padding-top: 190px;
}

.rd_s_s_3 {
  transform: translateX(50px);
}
.rd_s_s_4 {
  transform: translate(50px, -165px);
}
/* Road shape item */
/* FOOTER AREA */
.brand_footer_top {
  text-align: center;
}
.footer_logo {
  text-align: center;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.footer_box {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
}
.footer_box_left,
.footer_box_right {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}
.footer_menu_socail {
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding-bottom: 20px;
}
.footer_menu_socail li a {
  display: block;
  height: 25px;
}
.footer_copy {
  text-align: center;
  padding-top: 30px;
}
.wedgetTitle {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: -0.03em;
  line-height: 30px;
  color: #e87800;
  padding-bottom: 15px;
}
.footer_weidget p {
  font-size: 15px;
}
.footer_menu li a {
  display: block;
  font-weight: 300;
  letter-spacing: -0.03em;
  line-height: 30px;
  color: #fff;
}
.footer_btns a:nth-child(1) {
  border-radius: 25px 0 0 25px;
}
.footer_btns a:nth-child(2) {
  border-radius: 0 25px 25px 0;
}
.footer_btns a:hover {
  color: #fff;
}
footer {
  position: relative;
}
.footer_body_content {
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%;
}
.footer_shape img {
  height: 400px;
}
.single_supply,
.token_supply_single {
  text-align: center;
}
.about_text {
  position: relative;
  z-index: 111;
}
.owl-carousel .owl-item img {
  display: block;
  width: auto;
  height: 35px;
  text-align: center;
  margin: 0 auto;
}
